@using BootstrapSupport
@model ZeroWaste.SharePortal.Models.ForgotPasswordViewModel

<section id="loginForm">
<div class="row">
<div class="span4 offset4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset class="form-horizontal">
            <h1>Reset password</h1>
            @Html.HiddenFor(c => c.UserId)
            <div class="control-group">
                <label class="control-label" for="Email">New password</label>
                <div class="controls">
                    @Html.TextBoxFor(c => c.NewPassword, new { @class = "", type = "password" })
                    @Html.ValidationMessageFor(c => c.NewPassword, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Email">Confirm password</label>
                <div class="controls">
                    @Html.TextBoxFor(c => c.ConfirmPassword, new { @class = "", type = "password" })
                    @Html.ValidationMessageFor(c => c.ConfirmPassword, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="buttonContainer">
                <button type="submit" class="btn">Submit</button>
            </div>
        </fieldset>
    }
</div>
</div>
</section>
